<!DOCTYPE html>
<html>
<head>
 
</head>

<body> 

<div class="container">
  <div class="card">
    <div class="card-body">
        <h3 class="card-title">Click here to get the restaurant lists</h3>        
    </div>
</div>
</div>

<div class="container">
  <!-- Content here -->

 
  <a href='/getRestaurants'><button>Go to Restaurants</button></a>
</div>

<script>
</script>


</body>
</html>